<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/plugin/hh/hh-font.css" />
  <link rel="stylesheet" type="text/css" href="/plugin/hh/hh-main.css" />
</head>

<body>
  <br>234<p>ee<b>sdfsdf</b><a href="/test">77777</a></p>
  <div id="HH-React-Root">
    <div data-qa="lux-container lux-container-rendered">
      <div class="bloko-columns-wrapper">
        <div class="bloko-columns-row">
          <div
            class="bloko-column bloko-column_container bloko-column_xs-4 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16">
            <div class="resume-applicant">
              <div class="resume-actions">
                <div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-10 bloko-column_l-12">
                  <div class="bloko-gap bloko-gap_bottom">
                    <div class="resume-action-button">
                      <div class="adaptive-buttons-container"><span><span class="bloko-gap bloko-gap_right"><a
                              class="bloko-button bloko-button_secondary" type="button" data-qa="resume__invite-button"
                              href="/employer/negotiations/change_topic?r=75641dfb00079bbb8700102daa786d78504e63">Пригласить</a></span></span><span
                          class="adaptive-buttons-spacer"></span><span
                          class="adaptive-buttons-menu-button_transparent"><button
                            class="bloko-button bloko-button_icon-only" type="button"><span
                              class="bloko-button__icon"><span
                                class="bloko-icon bloko-icon_kebab-menu bloko-icon_initial-default"></span></span></button></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bloko-columns-row">
                <div
                  class="bloko-column bloko-column_container bloko-column_xs-4 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16">
                  <div class="bloko-gap bloko-gap_bottom">
                    <div class="bloko-columns-row">
                      <div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16">
                        <div class="resume-header-wrapper">
                          <div class="resume-header">
                            <div class="resume-header-main">
                              <div class="resume-header-name">
                                <h2 class="header" itemprop="name" data-qa="resume-personal-name"><span>Пронина Татьяна
                                    Анатольевна</span></h2>
                              </div>
                              <div class="resume-header-block">
                                <p><span itemprop="gender" data-qa="resume-personal-gender">Женщина</span>, <span
                                    data-qa="resume-personal-age">43
                                    <!-- -->&nbsp;
                                    <!-- -->года</span>,
                                  <!-- -->родилась
                                  <!-- -->&nbsp;
                                  <!-- -->24&nbsp;февраля&nbsp;1976
                                  <meta itemprop="birthDate" data-qa="resume-personal-birthday" content="1976-02-24">
                                </p>
                                <p><span itemprop="address" itemscope=""
                                    itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality"
                                      data-qa="resume-personal-address">Москва</span>, <span
                                      data-qa="resume-personal-metro" style="color:#ADACAC">м.
                                      <!-- -->&nbsp;
                                      <!-- -->Улица Академика Янгеля</span>,
                                    <!-- -->не готова к переезду</span>,
                                  <!-- -->не готова к командировкам</p>
                                <p></p>
                              </div>
                              <div itemprop="contactPoints" itemscope="" itemtype="http://schema.org/ContactPoint">
                                <div class="resume-search-item__description-content"
                                  data-qa="resume-serp_resume-item-content">
                                  <div data-qa="resume-contacts-phone"><span itemprop="telephone">+7 (903)
                                      590-57-19</span>
                                    <div class="third-party-translate-guard"></div>
                                  </div>
                                </div>
                                <div><a href="mailto:tenpro@mail.ru" itemprop="email"
                                    data-qa="resume-contact-preferred"><span>tenpro@mail.ru</span></a>&nbsp;—
                                  <!-- -->предпочитаемый
</body>

</html>