%card-info {
  padding: 0 1em 1em 1em;
  box-shadow: -6px 4px 10px 0px rgba($dark-color, 0.42);
}

.s-card {
  @extend %crm-font;
  color: $--color-text-regular;
  &__buttons {
    margin-bottom: 1em;
  }

  &__main {
    @extend %flex;
    justify-content: space-between;
  }

  &__info {
    flex: 0 0 49%;
    @extend .border-radius;
    @extend %card-info;
  }

  &__candidates {
    @extend %flex;
    flex-wrap: wrap;
  }

  &__comments {
    flex: 0 0 49%;
    @extend .border-radius;
    @extend %card-info;
    &__s-comment {
      margin-bottom: 1em;
    }
  }
}

.candidate {
  // @extend .border-radius;
  border-radius: 30px;
  border: $--border-base;
  @extend %flex;
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 0 0.5em 0.5em 0;

  &__main {
    @extend %flex-col;
    align-items: flex-start;
    margin-right: 0.5em;
  }

  &__name {
    text-decoration: none !important;
  }

  &__stage {
    font-size: 0.875em;
  }

  &__close {
    @extend %flex-center-center;
  }

  &__close-icon {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background: $--color-primary;
      color: $--color-white;
    }
  }
}
