.stages-panel {
  @extend %flex;
  width    : 100%;
  font-size: 0.75em;

  &__item {
    @extend %flex-center;
    position       : relative;
    justify-content: space-between;
    padding        : 0.5em 1em;
    box-sizing     : border-box;
    border         : $--border-base;
    border-right   : none;
    cursor         : pointer;
    overflow       : hidden;
    text-align     : center;
    background     : #eaeaea;

    &.no-focus {
      cursor: default;
    }

    &:first-child {
      @extend .border-left-radius;
    }

    &:last-child {
      @extend .border-right-radius;
      border-right: $--border-base;
    }

    &_active {
      color: $--color-white;
    }
  }

  &__label {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    line-height  : 29px;
  }

  &__input {
    position: fixed;
    left    : -1000px;
    opacity : 0;
  }

  &__date {
    margin-top: 4px;
  }

  img {
    max-height: 25px;
  }
}