@import 'variables/variables';
@import 'mixins/mixins';
@import 'utilites/utilites';

#app {
  font-family: Arial, Helvetica, sans-serif;
  * {
    box-sizing: border-box;
  }
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  background: $--color-white;
  font-size: 16px;
}

@import 'Elements/Link/link.scss';
@import 'Elements/Comment/comment.scss';
@import 'Parts/Table/table.scss';
@import 'Parts/Card/card.scss';
@import 'Parts/Stage/stage.scss';
