@import 'elements/elements';
@import 'variables/variables';
@import 'mixins/mixins';
@import 'utilites/utilites';

#app {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  width: 1000px;
}

#content {
  background: $--color-white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@import 'Elements/Link/link.scss';
@import 'Elements/Comment/comment.scss';
@import 'Elements/Pagination/pagination.scss';
@import 'Elements/ContactForm/ContactForm.scss';
@import 'Elements/StagePanel/stages-panel.scss';
@import 'Parts/Candidate/candidate.scss';
@import 'Parts/Stage/stage.scss';
@import 'Parts/Vacancy/vacancy.scss';
