.s-table {
  @extend %flex-col;
}

.s-table-item {
  @extend .white-bg;
  @extend %flex-center;
  @extend .border-radius;
  box-shadow: -6px 4px 10px 0px rgba($dark-color, 0.42);
  margin-bottom: 1.25em;

  &__left {
    @extend %flex;
    flex-wrap: wrap;
    @extend .border-left-radius;
    align-self: stretch;
    box-shadow: -47px -5px 58px -54px rgba($dark-color, 0.42) inset;
    padding: 0.5em 1em;
    border-right: 1px dashed $primary-color;
    width: 20%;
  }

  &__title {
    @extend %flex-center;
    // flex: 10%;
    width: 50%;
    .el-link {
      font-size: 1.25em;
      margin-right: 0.5em;
    }
  }

  &__status {
    @extend %flex-center;
    justify-content: flex-end;
    width: 50%;
  }

  &__location {
    @extend %flex-center;
    width: 50%;
    font-size: 0.875em;
  }

  &__date {
    @extend %flex-center;
    justify-content: flex-end;
    width: 50%;
  }

  &__medium {
    @extend .border-right-radius;
    @extend %flex-col;
    padding: 0.25em 1em;
    flex: 1;
    margin: 0.25em 0;
  }

  &__value {
    margin-right: 0.625em;
  }

  &__value-label {
    &::after {
      content: ':';
    }
  }

  &__value-name {
    font-weight: bold;
  }

  &__right {
    padding: 0.5em 1em;
    width: 25%;
  }
}
