.s-table {
  @extend %flex-col;
  @extend %crm-font;
}

.s-table-item {
  @extend %flex-col;
  @extend .border-radius;
  background: $--color-white;
  margin-bottom: 1.25em;
  box-shadow: -6px 4px 10px 0px rgba($dark-color, 0.42);

  &__top {
    @extend %flex-center;
    padding: 0.5em 1em;
    position: relative;
  }

  &__bottom {
    @extend %flex-col;
    @extend .border-bottom-radius;
    background: $--border-color-lighter;
    padding: 0.5em 1em;
  }

  &__bottom-main {
    @extend %flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  &__stack {
    flex: 1;
    margin-right: 1em;
  }

  &__salary {
    @extend %flex;
    white-space: nowrap;
    justify-content: flex-end;
    flex: 0;
  }

  &__salary-min {
    &:after {
      content: '-';
      margin: 0 0.5em;
    }
  }

  &__peoples {
    @extend %flex;
    justify-content: space-between;
    &__peoples {
      width: 50%;
    }
  }

  &__left {
    @extend %flex;
    flex-wrap: wrap;
    align-self: stretch;
    margin-right: 1em;
    width: 25%;
  }

  &__left-top {
    width: 100%;
    @extend %flex-center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__title {
    @extend %flex-center;
    // max-width: 85%;
    flex: 80%;
    overflow: hidden;
    margin-right: 0.5em;
  }

  &__title-link {
    display: block;
    color: $--color-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
    margin-right: 0.5em;
    font-size: 1.25em;
    max-width: 90%;
  }

  &__title-tag {
  }

  &__status {
    @extend %flex-center;
    // min-width: 25%;
    flex: 20%;
    justify-content: flex-end;
  }

  &__location {
    @extend %flex-center;
    width: 50%;
    font-size: 0.875em;
  }

  &__date {
    @extend %flex-center;
    justify-content: flex-end;
    width: 50%;
  }

  &__medium {
    @extend .border-right-radius;
    @extend %flex;
    flex-wrap: wrap;
    flex: 1;
    // .el-link {
    // }
  }

  &__medium-value {
    width: 50%;
    margin: 0.25em 0;
  }

  &__medium-link {
    font-weight: bold;
    font-size: 0.875em;
    color: $--color-text-regular;
    // text-decoration: underline;
  }

  &__right {
    width: 25%;
    margin-right: 2em;
  }

  &__button-down {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
  }
}

.peoples {
  @extend %flex-col;
  &__label {
    font-weight: bold;
    margin-bottom: 0.5em;
    &:after {
      content: ':';
    }
  }
  &__tags {
    @extend %flex;
    flex-wrap: wrap;
  }
  &__tag {
    margin: 0 0.5em 0.5em 0;
  }
}
