.s-comment {
  @extend %flex;
  min-height: 100px;

  &__avatar {
    width       : 75px;
    margin-right: 1em;
    text-align  : center;
  }

  &__main {
    @extend %flex-col;
    flex: 1;
  }

  &__name {
    margin-bottom: 0.5em;
  }

  &__name-link {
    // text-decoration: underline;
    font-size         : 1em;
  }

  &__date {
    margin-top: 1em;
    font-style: italic;
    font-size : 0.75em;
  }

  &-form {
    margin-bottom: 25px;

    .el-form-item {
      margin: 0;
    }

    .control-panel  > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;

      &:before,
      &:after {
        content: unset;
      }
    }
    
  }
}