.border-radius {
  border-radius: 0.25rem;
}

.border-left-radius {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.border-right-radius {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.border-radius-sausage {
  border-radius: 10rem;
}
