%card-info {
  padding: 0 1em 1em 1em;
  box-shadow: -6px 4px 10px 0px rgba($dark-color, 0.42);
}

.vacancy-view {
  @extend %crm-font;
  color: $--color-text-regular;

  &__inline-buttons {
    margin-bottom: 1em;
  }

  &__main {
    @extend %flex;
    justify-content: space-between;
  }

  &__info {
    @extend .border-radius;
    @extend %card-info;
    flex: 1;
    margin-right: 1em;
  }

  &__comments {
    @extend .border-radius;
    @extend %card-info;
    flex: 1;

    &__s-comment {
      margin-bottom: 1em;
    }
  }

  .el-table {
    &__header-wrapper {
      .el-checkbox {
        display: none;
      }
    }
  }
}

.vacancy-table {
  @extend %flex-col;
  @extend %crm-font;
}

.table-top-nav {
  @extend %flex;
  margin-bottom: 0.5em;

  &__right {
    flex: 1;
  }
}

.vacancy-table-item {
  @extend %flex-col;
  @extend .border-radius;
  background: $--color-white;
  margin-bottom: 1.25em;
  box-shadow: -6px 4px 10px 0px rgba($dark-color, 0.42);

  &__top {
    @extend %flex-center;
    padding: 0.5em 1em;
    position: relative;
  }

  &__bottom {
    @extend %flex-col;
    @extend .border-bottom-radius;
    background: $--border-color-lighter;
    padding: 0.5em 1em;
  }

  &__bottom-main {
    @extend %flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  &__grade {
    flex: 1;
    margin-right: 1em;
  }

  &__salary {
    @extend %flex;
    white-space: nowrap;
    justify-content: flex-end;
    flex: 0;
  }

  &__salary-min {
    &:after {
      content: '-';
      margin: 0 0.5em;
    }
  }

  &__peoples {
    @extend %flex;
    justify-content: space-between;

    &__peoples {
      width: 50%;
    }
  }

  &__left {
    @extend %flex;
    flex-wrap: wrap;
    align-self: stretch;
    margin-right: 1em;
    width: 40%;
  }
  
  &__left {
    &-top,
    &-bottom {
      width: 100%;
      @extend %flex-center;
      flex-wrap: nowrap;
    }
  }

  &__title {
    @extend %flex-center;
    flex: 80%;
    height: 100%;
    overflow: hidden;
    margin-right: 0.5em;
  }

  &__title-link {
    display: block;
    color: $--color-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
    font-size: 1.25em;
    max-width: 90%;
  }

  &__title-link + .el-tag {
    margin-left: 0.5em;
  }

  &__cv-link {
    position: relative;
    top: -10px;
    margin: 0 8px;

    svg {
      height: 20px;
      width: 20px !important;
      color: #606266;
    }
  }

  &__status {
    @extend %flex-center;
    flex: 20%;
    justify-content: flex-end;
  }

  &__location {
    font-size: 0.875em;
    margin-right: 30px;
    line-height: 22px;
    display: inline-block;
  }

  &__reason {
    display: inline-block;
    font-size: 14px;
  }

  &__date {
    @extend %flex-center;
    justify-content: flex-end;
    width: 50%;
  }

  &__medium {
    @extend .border-right-radius;
    @extend %flex;
    flex-wrap: wrap;
    flex: 1;

    &-value {
      width: 49%;
      margin: 0.25em 0;
      overflow: hidden;

      &:nth-child(odd) {
        margin-right: 6px;
      }
    }

    &-link {
      font-weight: bold;
      font-size: 0.875em;
      color: $--color-text-regular;

      &_type_elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__right {
    width: 17%;
    margin-right: 2em;
  }

  &__button-down {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
  }
}

.peoples {
  @extend %flex-col;

  &__label {
    font-weight: bold;
    margin-bottom: 0.5em;

    &:after {
      content: ':';
    }
  }

  &__tags {
    @extend %flex;
    flex-wrap: wrap;
  }

  &__tag {
    margin: 0 0.5em 0.5em 0;
  }
}

.vacancy {
  &-edit {
    .el-form {
      &-item {
        input[name='salary_max'] + .el-form-item__error {
          display: none !important;
        }
      }
    }

    &__inline-buttons {
      margin-bottom: 15px;
    }

    .form-item {
      &_width_35 {
        width: 35%;
      }

      &_width_30 {
        width: 30%;
        margin-right: 2.5%;
      }

      &:last-child {
        float: right;
      }
    }

    .inline-buttons__btn {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }

  &-form__wrapper {
    width: 60%;
  }
}
