.contact-form {
  .el-button--mini {
    padding: 7px;
    width: 36px;
    height: 36px;
    margin-right: 5px;
    float: left;
  }

  .el-button--mini + a {
    float: left;
    height: 36px;
    width: 36px;
  }

  .el-input {
    float: left;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__panel {
    position: absolute;
    right: -80px;

    svg {
      width: 36px !important;
      height: 36px;
      padding: 3px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}